.toggle {
    margin: 10px;
}
.label {
    font-weight: bold;
    color: #666;
    margin-right: 10px;
}
.button {
    padding: 6px 10px;
    background-color: #ffffff;
    border-color: #61dafb;
    border-radius: 4px;

    &.on {
        background-color: dodgerblue;
    }
    &.off {
        background-color: aliceblue;
        border-color: dodgerblue;
    }
    &.disabled {
        opacity: 0.5;
    }
}
