.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	border: 1px solid #666666;
	width: 65%;
	max-width: 600px;
	margin: auto;

	.formGroup {
		width: 45%;
		display: flex;
		margin: 10px 0;

		.label {
			width: 35%;
			margin-right: 6px;
		}
		.input {
			padding: 4px 6px;
			width: 100%;
		}
		.select {
			width: 100%;
			padding: 4px 6px;
		}
		.button {
			width: 100%;
		}
	}
}

.error {
	color: darkred;
	padding: 6px;
	border: 1px solid darkred;
	background-color: pink;
	margin: 10px 0;
}
