.lista {
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }
    li {
        padding: 6px 10px;
        margin: 6px;
        border: 1px solid #666666;
        width: 250px;
    }
}
